{
  "retainLines": true,
  /* "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/transform-runtime",
    "@babel/plugin-proposal-optional-chaining",
    "dynamic-import-webpack"
  ], */
  "presets": [["@babel/preset-env"]],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
